@tailwind base
@tailwind components
@tailwind utilities
body 
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
code 
  font-family: source-code-pro, Menlo, Monaco, Consolas

body::-webkit-scrollbar
  width: 5px
  background-color: #F5F5F5

body::-webkit-scrollbar-thumb
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
  background-color: #999

.side-hide::-webkit-scrollbar
  width: 0px
  background-color: #F5F5F5

.side-hide::-webkit-scrollbar-thumb
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
  background-color: #999